# file type
*.gem
*.bk
# jekyll dotfile
.bundle
.sass-cache
.jekyll-metadata
Gemfile.lock

# Directory
_site
## ignore during div
_posts/**/*
_drafts/**/*
_bower_components

# Helper
gh-md-toc


# Exceeption
## `.gitkeep` are placeholder file, added to empty directory to create and keep
!/**/.gitkeep
