---
layout: default
title: Home
---
{%include data.html%}
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article>
  <header>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% if post.subtitle %}
    <h3> {{post.subtitle}} </h3>
    {% endif %}
    <!-- date -->
    <h4>
    {% include dates.html %}
    </h4>
  </header>
  <!--desciption-->
  {% if post.description %}
  <section>
    {{post.description}}
  </section>
  {% endif %}
  <!--post footer-->
  <footer>
    <!-- categories -->
    {% if post.categories != empty %}
    <div id="post-categories" class="info">
      <span class="unselectable" title="Categories">in&nbsp;</span>
      {% include categories.html %}
    </div>
    {% endif %}
    <!-- tags -->
    {% if post.tag %}
    <div id="post-tags"  class="info">
      <i class="fa fa-tags" aria-hidden="true"></i>
      {% include tags.html %}
    </div>
    {% endif %}
    <!-- author -->
    {% include author.html %}
  </footer>
</article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
