{% include data.html %}

<!-- to use this include in both posts' page and home page -->
{% if page.collection == "posts" %}
  {% assign _categories = page.categories %}
{% else %}
  {% assign _categories = post.categories %}
{% endif %}

{% if _categories != empty %}
<div class="taxonomies categories">
  <ul aria-label="Categories" data-header="Categories">
  {% for category in _categories %}
    <li class="category cat-{{category}}">
      <a href="{{site.baseurl}}/category/{{category | slugify}}">{{category | capitalize }}</a>
    </li>
  {% endfor%}
  </ul>
</div>
{% endif%}
