<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<!-- jQuery -->
<script src="/assets/js/vendor/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/vendor/bootstrap.min.js"></script>

<!-- return-to-top.js -->
<script src="/assets/js/return-to-top.js"></script>

<!-- dropdown submenu -->
<script>
(function($){
  $(document).ready(function(){
    $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
      event.preventDefault();
      event.stopPropagation();
      $(this).parent().siblings().removeClass('open');
      $(this).parent().toggleClass('open');
    });
  });
})(jQuery);
</script>
