{% include data.html %}
<nav class="navbar navbar-inverse" id="main-navbar">
   <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{site.baseurl}}/">{{website.title}}</a>
    </div>
      <ul class="nav navbar-nav">
        {% for link in nav-links %}
          {% if link[1].first %}
            <!-- TODO : navbar with child -->
          {% else %}
            {% include navbarlink.html link=link %}
          {% endif %}
        {% endfor %}
      </ul>
   </div>
</nav>
