{% capture before %}{{ include.link[1] | split: "://" | first }}{% endcapture %}
{% capture after %}{{ include.link[1] | split: "://" | last }}{% endcapture %}
{% assign internal = true %}
{% if before != after %}
  {% if before == "http" or before == "https" %}
    {% assign internal = false %}
  {% endif %}
{% endif %}

{% if internal %}
  {% capture linkurl %}{{ site.baseurl }}/{{ include.link[1] }}{% endcapture %}
  {% comment %}is active ?{% endcomment %}
  {% if page.id ==  linkurl %}
    {% assign active = "active" %}
  {% elsif page.id == "" or page.id == nil and linkurl == '/' %}
    {% assign active = "active" %}
  {% else %}
    {% assign active = "" %}
  {%endif%}

{% else %}
  {% capture linkurl %}{{ include.link[1] }}{% endcapture %}
{% endif %}

<li class="{{active}}" >
<a href="{{ linkurl }}">{{ include.link[0] }}</a>
</li>
