
<!-- to use this include in both posts' page and home page -->
{% if page.collection == "posts" %}
  {% assign _categories = page.categories %}
  {% assign _tags = page.tag %} <!--yes, it's `page.tag` without `s`-->
{% else %}
  {% assign _categories = post.categories %}
  {% assign _tags = post.tag %} <!--yes, it's `post.tag` without `s`-->
{% endif %}

{% assign _categories_number = _categories | size %}
{% assign _tags_number = _tags | size %}

<!-- categories -->
{% if _categories_number > 0 %}
<div class="info">
  <i class="fa fa-folder-open" aria-hidden="true" title="Categories"></i>
  {% include categories.html %}
</div>
{% endif %}
<!-- tags -->
{% if _tags_number > 0 %}
<div class="info">
  <i class="fa fa-tags" aria-hidden="true" title="Tags"></i>
  {% include tags.html %}
</div>
{% endif %}
