@import "_variables";
@import "bootstrap-scss/_bootstrap-custom-variables";

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

.website-header {
  margin: 0;
  padding: .4em 0;
  background-color: $gray;
  color: white;

  a{
    color: white;
    &:hover,
    &:focus {
      text-decoration: none;
      // font-weight: bolder;
      color: white;
      //background-color: $gray-darker;//$nav-link-hover-bg;
    }
  }

  h1 {
    margin: 0;
    padding:0 1em .2;

    font-family: inherit;
    font-weight: bold;
    font-size: 3em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    box-sizing: border-box;
    -webkit-margin-before: 0m;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
}
