@import "_variables";
@import "bootstrap-scss/_bootstrap-custom-variables";


// section
section {
  padding: 0 0 2em;
}

// posts
main {

  padding: .1em 0;

  article{
    margin: 0 0 2em;
    padding: 0;

    a{
      color: white;
      &:hover,
      &:focus {
        text-decoration: underline;
        // font-weight: bolder;
        color: white;
        //background-color: $gray-darker;//$nav-link-hover-bg;
      }
    }

    header{
      margin: 0;
      padding: 0 2em;
      background-color: $gray-dark;
      color: white;

      .home-post-title{
        margin: 0;
        padding: .8em 0;
        color: white;
        text-transform: uppercase;
        font-size: 1.6em;
        font-family: inherit;
        font-weight: bold;
        line-height: 1.1;
        box-sizing: border-box;
        display: block;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
      }

      .home-post-subtitle{
        margin-top: -.8em;
        padding-bottom: .8em;
      }
    }

    .post-description{
      background-color: white;
      margin: 0;
      padding: .3em 0;
    }

    footer{
      background-color: white;
      margin: 0;
      padding: 0.3em 0 0.6em;
      border-bottom: 0.1em solid #333333;
      border-top: 0.1em solid #333333;
    }
  } // / main>article
} // / main


.pagination {
  display: inline;
  margin: 0;
  padding: 0;

  > div {
    display: inline-block;
    color: $gray;
  }

  a {
    // background: $gray-light;
    color: $gray-light;

    &:hover,
    &:focus {
      text-decoration: none;
      // background-color: $gray;//$nav-link-hover-bg;
      color: $gray;
    }
  }

  .pagination-next {
    float: right;
    text-align: right;
    i {
      padding-right: .2em;
    }
  }

  .pagination-prev{
    float: left;
  }

  .pagination-number {
    text-align: center;
  }
} // / pagination

// helper
.center-h {
  margin: 0;
  // background: yellow;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}
