---
layout: default
---
{%include data.html%}

<section>
  <!-- page header -->
    <header class="page-header">
      <!-- title -->
      <h2 class="page-title">{{page.title}}</h2>
      {% if page.subtitle %}
      <!-- subtitle -->
      <div class="page-subtitle">{{ page.subtitle }}</div>
      {% endif %}
      <!-- description -->
      {% if page.description %}
      <div class="page-description">{{ page.description }}</div>
      {% endif %}
    </header>

  <!-- page main -->
    <main>
      <!-- This loops through the paginated posts -->
        {% for post in paginator.posts %}
        <article>
          <!-- post header -->
            <header>
              <h2 class="home-post-title"><a href="{{post.url}}">{{ post.title }}</a></h2>
              {% if post.subtitle %}
              <div class="home-post-subtitle"> {{post.subtitle}} </div>
              {% endif %}
            </header>
          <!-- post desciption-->
            {% if post.description %}
              <div class="post-description">
              {{post.description}}
              </div>
            {% endif %}
          <!-- post footer-->
            <footer>
              <!-- date -->
                <div class="dates">
                {% include dates.html %}
                </div>
              <!-- categories and tags -->
                {% include taxonomies.html %}
              <!-- author -->
                {% include author.html %}
            </footer>
        </article>
        {% endfor %}
    </main>

  <!-- page footer -->
    <footer>
    {% include home-pagination.html %}
    </footer>
</section>
