---
layout: default
---
{% include data.html %}
<div class="post-layout">
  <div class="raw">
    <div class="col-md-1 col-xs-1">
      <nav>
        {% for social in socials %}
        <ul class="nav">
          {% if social.active != false %}
          <li>
            <a href="{{social.profile}}" title="{{social.platform}}: {{social.username}}" target="_blank">
              <i class="fa fa-{{social.platform}}"></i>
              {% comment %} {{social.platform}} {% endcomment %}
            </a>
          </li>
          {% endif%}
        </ul>
        {% endfor %}
      </nav>
    </div>
    <div class="col-md-10 col-xs-10">
      <article>
        <header class="post-header">
          <h1 id="post-title">{{page.title}}</h1>
          <footer id="post-detail">
            <div class="info">
              {% comment %} Author {% endcomment %}
              by
              {% include author.html %}
              on
              {% comment %} Date  {% endcomment %}
              <time datetime="{{page.date | date_to_xmlschema }}">
              {{ page.date | date: "%d/%m/%y"}}</time>
            </div>
            {% comment %}  Categories {% endcomment %}
            {% if page.categories != empty %}
            <div id="post-categories" class="info">
              <em>Categories</em>
              {% include categories.html %}
            </div>
            {% endif%}
            {% comment %} Tags {% endcomment %}
            {% if page.tag %}
            <div id="post-tags"  class="info">
              <i class="fa fa-tags" aria-hidden="true"></i>
              {% include tags.html %}
            </div>
            {% endif%}
          </footer>
        </header>
        {% comment %} post-content {% endcomment %}
        <section class="post-core">
          <div class="post-content">
          {{ content }}
          </div>
          {% comment %} content footer {% endcomment %}
          <footer>
            {% comment %}  Categories {% endcomment %}
            {% if page.categories != empty %}
            <div id="post-categories" class="info">{% include categories.html %}</div>
            {% endif %}
            {% comment %} Tags {% endcomment %}
            {% if page.tag %}
            <div id="post-tags"  class="info">{% include tags.html %}</div>
            {% endif %}
          </footer>
        </section>{% comment %} / post-content {% endcomment %}
        {% comment %} Next/Prevous {% endcomment %}
        <div class="page-nav col-xs-12">
          {% if page.next.url %}
          <div class="next col-lg-6 col-md-6 col-xs-12">
            <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
          </div>
          {% endif %}
          {% if page.previous.url %}
          <div class="prev col-lg-6 col-md-6 col-xs-12">
            <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
          </div>
          {% endif %}
        </div>
      </article>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
