---
layout: default
---
{% include data.html %}


<div class="col-md-10 col-xs-10">
<article>
  <!-- page header -->
    <header class="page-header">
      <!-- title -->
        <h2 class="page-title">{{page.title}}</h2>
        {% if page.subtitle %}
      <!-- subtitle -->
        <div class="page-subtitle">{{ page.subtitle }}</div>
        {% endif %}
      <!-- description -->
        {% if page.description %}
        <div class="page-description">{{ page.description }}</div>
        {% endif %}
      <!-- details -->
        <div class="post-detail">
          <div class="info">
            <!-- date  -->
              {% include dates.html %}
            <!-- author -->
              {% include author.html %}
          </div>
          <!--  categories and tags -->
          {% include taxonomies.html %}
        </div>
    </header>
  <!-- page main -->
    <div class="page-main">
      <!-- post-content -->
        <div class="post-content">
          {{ content }}
        </div>
      <!-- post-main footer -->
        <footer>
          <!-- categories -->
            {% if page.categories != empty %}
            <span class="info">{% include categories.html %}</span>
            {% endif %}
          <!-- tags -->
            {% if page.tag %}
            <span class="info">{% include tags.html %}</span>
            {% endif %}
        </footer>
    </div><!-- / post-core -->
  <!-- page footer -->
    <footer class="page-footer">
      <!-- Next/Previous -->
        <div class="page-nav col-xs-12">
          {% if page.next.url %}
          <div class="next col-lg-6 col-md-6 col-xs-12">
            <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
          </div>
          {% endif %}
          {% if page.previous.url %}
          <div class="prev col-lg-6 col-md-6 col-xs-12">
            <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
          </div>
          {% endif %}
        </div><!--  / Next/Previous  -->
    </footer>
</article>
</div>

